@{
    ViewBag.Title = "Đại lý ủy quyền Apple Cửa hàng Apple Chính hãng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToyStore.Models.SanPham>

<section class="awe-section-4">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="IPhone">
                    <a href="#" class="text_gradient">
                        IPhone
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 1 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-5">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="IPad">
                    <a href="#" class="text_gradient">
                        IPad
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 2 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Mac">
                    <a href="#" class="text_gradient">
                        Mac
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 3 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Watch">
                    <a href="#" class="text_gradient">
                        Watch
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 4 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Âm Thanh">
                    <a href="#" class="text_gradient">
                        Âm Thanh
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 5 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-7">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Phụ Kiện">
                    <a href="#" class="text_gradient">
                        Phụ Kiện
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "PhoneStore", new { id = 6 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-8">
    <div class="banner_home_bottom">
        <div class="topic-block">
            <div class="topic-block-body">
                <a href="#"><img src="~/Assets/Images/shop/2.png" width="1200" height="401"></a>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-9">
    <div class="news-list-homepage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2 class="title-head" title="LATEST VANS NEWS">
                            <a href="#" class="text_gradient">
                                Tin Tức
                            </a>
                        </h2>
                    </div>
                    <div class="news-items">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="#" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                            <img alt="Hình ảnh cho danh mục iPad đang dần thay thế Macbook như thế nào? " src="~/Assets/Images/shop/news_1.png" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">iPad đang dần thay thế Macbook như thế nào? </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="#" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                            <img alt="Hình ảnh cho danh mục iPad đang dần thay thế Macbook như thế nào? " src="~/Assets/Images/shop/news_2.png" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">iPad đang dần thay thế Macbook như thế nào? </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="#" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                            <img alt="Hình ảnh cho danh mục iPad đang dần thay thế Macbook như thế nào? " src="~/Assets/Images/shop/news_3.png" title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">iPad đang dần thay thế Macbook như thế nào? </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-all"><a href="#">Xem tất cả Tin Tức</a></div>
                    <script>
                        $('.owl-carousel').owlCarousel({
                            loop: true,
                            margin: 10,
                            autoplay: true,
                            autoplayTimeout: 2000,
                            autoplayHoverPause: true,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                600: {
                                    items: 3
                                },
                                1000: {
                                    items: 3
                                }
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

